.container {
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}


#container {
	width: 578px;
	border: 1px solid #ccc;
	box-shadow: 0px 0px 10px black;
	margin: auto auto;
}

